<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.ryc.forfimi">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <permission android:name="cl.ryc.forfimi.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="cl.ryc.forfimi.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-feature android:name="android.hardware.telephony" />
    <uses-feature android:name="android.hardware.telephony.gsm" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"


        >
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".Menu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
           >

        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".Messages"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            >

        </activity>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <activity
            android:label="@string/app_name"
            android:name=".Sigin"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            >

        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".Perfil"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            >

        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".Noticias"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            >

        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".Contacto"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            >

        </activity>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <receiver
            android:name="cl.ryc.forfimi.service.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="cl.ryc.forfimi" />

            </intent-filter>
        </receiver>
        <service android:name="cl.ryc.forfimi.service.PushService" />
        <receiver android:name="cl.ryc.forfimi.service.ServiceReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

    </application>

</manifest>
